body{
    font-family: 'Work Sans', sans-serif;

}
a{
    text-decoration: none;
    color: black;
    font-size: .75em;
    width: 33%;
    text-align: center;
}
div.center a:hover{
border-top: 3px solid #E2C83D;
padding-top: 15px;
padding-bottom: 15px;


}
img{
    height:100%;
}
nav{
    height: 10em;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;

}
section{
    width: 35%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
    padding-left: 2em
}
div{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:15%;
    height:100%;

}
div.left{
    width:15%;
    height:100%;

}
div.center{
    width:60%;
    height:100%;

}
div.right{
    width:60%;
    height:100%;

}
.button{
    text-decoration: none;
    color: #E2C83D;
    background: white;
    padding: 10px 33%;
    margin: 1em auto;
    border-radius:1.25em;
    border: solid #E2C83D;
}
