body{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
nav{
    display:flex;
    justify-content: center;
}
a{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    width:80%;
    padding-top: 1em;
    margin: 0 auto;
    text-decoration: none;
    color: black;
    text-align: center;
}
a:hover{
    font-size: 2.5em;
    color: darkred;
    padding-top: .5em;
}
h1{
    font-family: 'Merriweather', serif;
    text-align: center;
    font-size: 3em;
    color: darkred;
}
div{
    display: flex;
    flex-direction: column;
    align-content: center;
    width:50%;
    padding: 1em;
    background-color: blanchedalmond;
}